ElectroTablo/211/wsdl/v2/eboard.queueInfoService.v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 (x64) (http://www.altova.com) by misha (lovomon) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uctx="http://emias.mos.ru/system/v1/userContext/" xmlns:nsf="http://emias.mos.ru/system/v1/faults/" xmlns:ns1="http://emias.mos.ru/eboard/queueInfoService/v2/types/" xmlns:tns="http://emias.mos.ru/eboard/queueInfoService/v2/" name="queueInfoService_v2" targetNamespace="http://emias.mos.ru/eboard/queueInfoService/v2/">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://emias.mos.ru/system/v1/userContext/" schemaLocation="../v1/xsd/core/emias.system.v1.userContext.xsd"/>
			<xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="../v1/xsd/core/emias.system.v1.faults.xsd"/>
			<xs:import namespace="http://emias.mos.ru/eboard/queueInfoService/v2/types/" schemaLocation="xsd/eboard.queueInfoService.v2.types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fault">
		<wsdl:documentation>Ошибка</wsdl:documentation>
		<wsdl:part name="body" element="nsf:fault"/>
	</wsdl:message>
	<wsdl:message name="userContext">
		<wsdl:documentation>Контекст пользователя</wsdl:documentation>
		<wsdl:part name="userContext" element="uctx:userContext"/>
	</wsdl:message>
	<wsdl:message name="getQueueBoardInfoInput">
		<wsdl:part name="body" element="ns1:getQueueBoardInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getQueueBoardInfoOutput">
		<wsdl:part name="body" element="ns1:getQueueBoardInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getQueueAppointmentInfoInput">
		<wsdl:part name="body" element="ns1:getQueueAppointmentInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getQueueAppointmentInfoOutput">
		<wsdl:part name="body" element="ns1:getQueueAppointmentInfoResponse"/>
	</wsdl:message>
	<wsdl:portType name="queueInfoServicePortType">
		<wsdl:operation name="getQueueBoardInfo">
			<wsdl:documentation>Метод для получения конфигурации Электронного Табло</wsdl:documentation>
			<wsdl:input message="tns:getQueueBoardInfoInput"/>
			<wsdl:output message="tns:getQueueBoardInfoOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getQueueAppointmentInfo">
			<wsdl:documentation>Метод для получения информации о записях и статусах приглашения в кабинет
            </wsdl:documentation>
			<wsdl:input message="tns:getQueueAppointmentInfoInput"/>
			<wsdl:output message="tns:getQueueAppointmentInfoOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="queueInfoServiceBinding_v2" type="tns:queueInfoServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getQueueAppointmentInfo">
			<soap:operation soapAction="getQueueAppointmentInfo" soapActionRequired="true"/>
			<wsdl:input>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getQueueBoardInfo">
			<soap:operation soapAction="getQueueBoardInfo" soapActionRequired="true"/>
			<wsdl:input>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="queueInfoService_v2">
		<wsdl:documentation>Сервис для работы с данными электронного табло</wsdl:documentation>
		<wsdl:port name="queueInfoServicePortType" binding="tns:queueInfoServiceBinding_v2">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
