ElectroTablo/211/wsdl/v2/eboard.muMsgService.v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 (x64) (http://www.altova.com) by misha (lovomon) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uctx="http://emias.mos.ru/system/v1/userContext/" xmlns:nsf="http://emias.mos.ru/system/v1/faults/" xmlns:ns1="http://emias.mos.ru/eboard/muMsgService/v2/types/" xmlns:tns="http://emias.mos.ru/eboard/muMsgService/v2/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://emias.mos.ru/eboard/core/v1/" xmlns:ns2="http://emias.mos.ru/eboard/core/v2/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="queueInfoService_v2" targetNamespace="http://emias.mos.ru/eboard/muMsgService/v2/">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://emias.mos.ru/system/v1/userContext/" schemaLocation="../v1/xsd/core/emias.system.v1.userContext.xsd"/>
			<xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="../v1/xsd/core/emias.system.v1.faults.xsd"/>
			<xs:import namespace="http://emias.mos.ru/eboard/muMsgService/v2/types/" schemaLocation="xsd/eboard.muMsgService.v2.types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fault">
		<wsdl:documentation>Ошибка</wsdl:documentation>
		<wsdl:part name="body" element="nsf:fault"/>
	</wsdl:message>
	<wsdl:message name="userContext">
		<wsdl:documentation>Контекст пользователя</wsdl:documentation>
		<wsdl:part name="userContext" element="uctx:userContext"/>
	</wsdl:message>
	<wsdl:message name="mfCreateInput">
		<wsdl:part name="body" element="ns1:mfCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="mfCreateOutput">
		<wsdl:part name="body" element="ns1:mfCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="mfChangeInput">
		<wsdl:part name="body" element="ns1:mfChangeRequest"/>
	</wsdl:message>
	<wsdl:message name="mfChangeOutput">
		<wsdl:part name="body" element="ns1:mfChangeResponse"/>
	</wsdl:message>
	<wsdl:message name="mfArchiveInput">
		<wsdl:part name="body" element="ns1:mfArchiveRequest"/>
	</wsdl:message>
	<wsdl:message name="mfArchiveOutput">
		<wsdl:part name="body" element="ns1:mfArchiveResponse"/>
	</wsdl:message>
	<wsdl:portType name="muMsgServicePortType">
		<wsdl:operation name="mfCreate">
			<wsdl:documentation>Метод для обработки сообщения при создании Медицинсокго учреждения</wsdl:documentation>
			<wsdl:input message="tns:mfCreateInput"/>
			<wsdl:output message="tns:mfCreateOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="mfChange">
			<wsdl:documentation>Метод для обработки сообщения при изменении Медицинсокго учреждения
            </wsdl:documentation>
			<wsdl:input message="tns:mfChangeInput"/>
			<wsdl:output message="tns:mfChangeOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="mfArchive">
			<wsdl:documentation>Метод для обработки сообщения при архивации Медицинсокго учреждения
            </wsdl:documentation>
			<wsdl:input message="tns:mfArchiveInput"/>
			<wsdl:output message="tns:mfArchiveOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="muMsgServiceBinding" type="tns:muMsgServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="mfCreate">
			<soap:operation soapAction="mfCreate" soapActionRequired="true"/>
			<wsdl:input>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="mfChange">
			<soap:operation soapAction="mfChange" soapActionRequired="true"/>
			<wsdl:input>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="mfArchive">
			<soap:operation soapAction="mfArchive" soapActionRequired="true"/>
			<wsdl:input>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="muMsgService">
		<wsdl:documentation>Сервис для работы с данными электронного табло</wsdl:documentation>
		<wsdl:port name="queueInfoServicePortType" binding="tns:muMsgServiceBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
